extends app.pug 
block titulo
    title Cliente #{client.name}

block conteudo
    .card
        h5.card-header.text-primary Detalhes do(a) cliente #{client.name}
        .card-body
            p
                strong ID:
                | #{client.id}
            p
                strong Name: 
                | #{client.name}
            p
                strong Empresa: 
                | #{client.empresa}
            p
                strong Cargo: 
                | #{client.cargo}
            p
                strong Email:
                | #{client.email}
            p
                strong Telefone:
                | #{client.telefone}
            p
                strong Linkedin:
                | #{client.linkedin}
            p
                strong Aniversário:
                | #{client.aniversario}
            p
                strong Cidade:
                | #{client.endereco}
            p
                strong Importante:
                | #{client.importante}
            p
                strong Data de Criação: 
                | #{client.createdAt}
            p
                strong Data de Atualização: 
                | #{client.updatedAt}
            a(href="/clients/").btn.btn-success Voltar para a lista